<head>

</head>
<header>
  <%= image_tag('bear.jpeg', :size => "50x50")%> <h2> Mt Olive Early Learning Center </h2> <%= image_tag('bear.jpeg', :size => "50x50") %>
  <h3>Where love abides and joy goes home!</h3>

  <div id="nav">
    <ul>
        <li><%= link_to "Home", :action  => "home", :controller => "home"%></li>
        <li><%= link_to "About", :action  => "about", :controller => "about"%></li>
        <li><%= link_to "Contact", :action  => "contact", :controller => "contact"%></li>
    </ul>
  </div>
</header>


<div style="text-align: center;">

  <p> Director: Estella Lain </p>

  <p>Hours</p>
  <p>Monday to Thursday  6:30am to 6:00pm</p>
  <p><tab>Friday  6:30am to 5:30pm</tab></p>

</div>

<footer>
  <h6>Mt Olive Early Learning Center is closely affiliated with Mt Olive Seventh Day
  Adventist Church. </h6>
  <%=link_to nil,"http://www.mtolivesda.com/"%>
</footer>