<header>
  <%= image_tag('bear.jpeg', :size => "50x50")%> <h2> Mt Olive Early Learning Center </h2> <%= image_tag('bear.jpeg', :size => "50x50") %>
  <h3>Where love abides and joy goes home!</h3>
  <div id="nav">
    <ul>
      <li><%= link_to "Home", :action  => "home", :controller => "home"%></li>
      <li><%= link_to "About", :action  => "about", :controller => "about"%></li>
      <li><%= link_to "Contact", :action  => "contact", :controller => "contact"%></li>
    </ul>
  </div>
</header>


  <p><b>Who Are We?</b></p>
  <p>A School of Quality Learning!</p>

  <p>Mt Olive Early Learning Center is owned and operated by the Mt. Olive Seventh-Day Adventist Church. The church consists of an Adventist
  congregation who joined together to establish a <b>ministry</b> for children of all churches and denominations since it was founded in 1983.
  The Center's advisory board, composed of members of the church congregation is entrusted to develop policies and procedures necessary for the
  day to day operation of the center.</p>
  <br><br>


  <p><b>Our Aim</b></p>

  <p><i>Love - Train - Educate. </i></p>

  <br><br>

  <p><b>Our Mission</b></p>

  <p>Our Mission is to Nurture and tend to each small mind with loving hands and a caring heart</p>

  <br><br>
  <p><b>Our Vision</b></p>
  <p>In keeping with Christ's command to <b><i>"Feed My Lambs"</i></b> our preschool program offers religious experiences to the children
  at their level of understanding. Age-appropriate "Bible Time" will be taught. <br><br> Mt. Olive Early Learning Center seeks to carry out
  the command of our Lord Jesus Christ to "Feed My Lambs" by providing quality childcare in a Christian setting by using loving, creative,
  and purposeful means to train and nurture each child in our care. Our concern is for the total personality of the child - physical,
  social, mental, emotional and spiritual. </p>